# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 
<br> 1.Python
<br> 2.R 
<br> 3.SQL

Some of the commonly used libraries used by Data Scientists include:
<br>1-Pandas
<br>2-numpy
<br>3-Seaborn
<br>4-Seaborn
<br>5-scipy

| Data Science Tools |
| --- |
| Jupyter lap |
| Apache Spark |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python.
 |

In [6]:
#This a simple arithmetic expression to mutiply then add integers.
x= (3*4)+5
print(x)

17

In [7]:
#This will convert 200 minutes to hours by diving by 60.
mins = 200
hrs = mins / 60
print(hrs)

3.3333333333333335

__Objectives :__
- List some of popular languages for Data Science .
- List some of popular Libraries for Data Science .
- List some of popular open source Data Science Tools .

## Author
Mahmoud Ibrahim Hanafy Ibrahim